<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!--Boostrap-->
    <link rel="stylesheet nofollow" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fo/css/font-awesome.min.css">
<body>

<script>
var app = angular.module("ShoppingList", []);
app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    $scope.addItem = function () {
    	$scope.errortext = "";
        if (!$scope.addMe) {return;}
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
    }
    $scope.removeItem = function (x) {
    	$scope.errortext = "";
    	$scope.products.splice(x, 1);
    }
});
</script>

<div class="jumbotron">
<div class="text-center">
	<h1>Shopping List</h1>
	<p>Click the "X" to remove an item</p>
</div>
<div class="container text-center" ng-app="ShoppingList" ng-controller="myCtrl">
	<div>
	  <ul>
	    <h2  ng-repeat="x in products">
	    {{x}}
	    <span ng-click="removeItem($index)"><i class="fa fa-times" aria-hidden="true"></i></span>
	    </h2>
	  </ul>
	 </div>
	 <div id="input">
	  <input class="input-field" placeholder="Add Items to the List Here" ng-model="addMe">
	  <button class="btn btn-default" ng-click="addItem()">Add</button>
	  <p>{{errortext}}</p>
	</div>
</div>
</body>
</html>
